.panel {
  background-color: var(--colorPanelBg);
  color: var(--colorPanelText);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 25%;
  max-width: 300px;
  min-width: 250px;
}

.header {
  align-items: center;
  margin: 8px 8px 0 8px;
  justify-content: flex-end;
  display: flex;
}

.addButton {
  width: 10rem;
}

.dragNode {
  border: 1px solid yellow;
  position: absolute;
  width: 100px;
  height: 100px;
  z-index: 2;
}