.pageHeader {
  display: flex;
  background-color: var(--colorHeaderBg);
  color: var(--colorHeaderFg);
  padding: 8px;
  align-items: center;
}

.logo {
  width: 24px;
  height: 24px;
  margin-right: 4px;
}

.title {
  font-size: 20px;
  font-weight: bold;

  &.modified {
    color: var(--colorHeaderFgDimmer);
  }
}

.docName {
  color: var(--colorHeaderFgDim);
  margin: 0 4px 0 8px;
}
