$gray0: #eeeeee;
$gray1: #dbdbe7;
$gray2: #ccccdd;
$gray3: #a8a8af;
$gray4: #88888f;
$gray5: #666677;
$gray6: #44444c;
$gray7: #33333c;
$gray8: #28282f;
$gray9: #14141f;
$gray10: #000;

$coolGray: #99e;
$coolGray2: #558;

:root {
  --colorPanelText: #{$gray3};
  --colorPanelBg: #{$gray8};

  --colorListText: #{$gray2};
  --colorListBg: #{$gray7};
  --colorListBgHover: #{$gray6};
  --colorListBgSelected: #{$coolGray2};
  --colorListBorder: #{$gray10};

  --colorGraphBg: #{$gray5};
  --colorGraphBgSquares: #{darken($gray5, 2%)};

  --colorConnectorStroke: #47b;
  --colorConnectorStrokePending: rgb(104, 121, 144);
  --colorConnectorStrokeOutline: #000;
  --colorConnectorStrokeShadow: #000;
  --colorConnectorStrokeVector: #4c4;
  --colorConnectorStrokeVectorPending: rgb(114, 159, 114);

  --colorTerminalCaption: #{$gray0};

  --colorControlBorder: #{$gray6};

  --colorComboArrowIcon: #{$gray4};
  --colorComboArrowIconActive: #{$gray2};
  --colorComboArrowBgHover: #{lighten($gray7, 3%)};
  --colorComboName: #{$gray3};
  --colorComboValue: #{$gray2};
  --colorComboTrack: #{$gray7};

  --colorParamGroupBg: #{$gray6};
  --colorParamGroupHeaderBg: #{lighten($gray6, 5%)};
  --colorParamGroupBorder: #{$gray9};
  --colorParamGroupSep: #{$gray8};

  --colorModalBg: #{$gray8};
  --colorModalBorder: #{$gray10};
  --colorModalText: #{$gray2};
  --colorModalShadow: #{$gray10};
  --colorModalSepLight: #{$gray6};
  --colorModalSepDark: #{$gray10};

  --colorButtonText: #{$gray3};
  --colorButtonTextDisabled: #{$gray5};
  --colorButtonBorder: #{$gray10};
  --buttonBg: #{linear-gradient(to bottom, lighten($gray6, 5%), darken($gray6, 8%))};
  --buttonBgActive: #{linear-gradient(to bottom, lighten($gray7, 10%), darken($gray6, 10%))};
  --buttonBgSelected: #{linear-gradient(to bottom, lighten($coolGray2, 1%), darken($coolGray2, 1%))};

  --colorSourceBg: #{$gray7};
  --colorSourceText: #{$gray2};

  --colorHexBg: #{$gray6};
  --colorHexText: #{$gray2};
  --colorHexBorder: #{$gray8};

  --colorAlphaPatternLight: #{$gray5};
  --colorAlphaPatternDark: #{$gray8};

  --colorErrorTextBg: #{$gray7};
}

body {
  overscroll-behavior-x: none;
  background-color: $gray7;
}

.rounded-scrollbars::-webkit-scrollbar {
  background-color: transparent;
  width: 7px;
  height: 7px;
}

.rounded-scrollbars::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 6px;
}

.rounded-scrollbars::-webkit-scrollbar-thumb:window-inactive {
  background-color: rgba(255, 255, 255, 0.2);
}

.rounded-scrollbars::-webkit-scrollbar-corner {
  background-color: transparent;
}
